# Racial injustice analysis
The questions to be examined here are:
1. ???

In [5]:
# Install packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [7]:
# Import Dataset
data = pd.read_csv("./data/table_1.csv")

In [8]:
data.head()

,par_pctile,count_pooled,count_aian_pooled,count_asian_pooled,count_black_pooled,count_hisp_pooled,count_white_pooled,density_aian_pooled,density_asian_pooled,density_black_pooled,...,kir_1par_black_male,kir_1par_white_male,kir_2par_black_male,kir_2par_white_male,kir_par_nohome_black_male,kir_par_nohome_white_male,spouse_rank_black_female,spouse_rank_black_male,spouse_rank_white_female,spouse_rank_white_male
0,1,213100,3300,9100,59500,34900,69000,1.996,1.328,2.161,...,29.18,37.54,32.97,41.18,29.42,36.76,34.37,27.42,47.18,37.86
1,2,213100,3000,8900,55500,39900,69000,1.814,1.300,2.016,...,30.25,39.61,35.02,42.54,29.32,39.03,34.87,27.35,48.29,38.36
2,3,213100,2900,8900,54000,40400,72000,1.755,1.300,1.961,...,31.23,40.27,35.70,43.20,31.26,39.04,35.11,27.56,48.70,38.79
3,4,213100,2800,8900,53000,41900,73500,1.694,1.300,1.925,...,32.02,41.34,35.00,43.47,32.16,40.97,35.19,27.59,48.94,39.27
4,5,213100,2900,8900,52000,42400,75000,1.755,1.300,1.889,...,32.63,41.52,36.00,43.56,32.38,40.56,35.14,28.00,49.54,39.50

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 69 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   par_pctile                  100 non-null    int64
 1   count_pooled                100 non-null    int64
 2   count_aian_pooled           100 non-null    int64
 3   count_asian_pooled          100 non-null    int64
 4   count_black_pooled          100 non-null    int64
 5   count_hisp_pooled           100 non-null    int64
 6   count_white_pooled          100 non-null    int64
 7   density_aian_pooled         100 non-null    float64
 8   density_asian_pooled        100 non-null    float64
 9   density_black_pooled        100 non-null    float64
 10  density_hisp_pooled         100 non-null    float64
 11  density_white_pooled        100 non-null    float64
 12  kfr_aian_pooled             100 non-null    float64
 13  kfr_asian_pooled            100 non-null    float64
 14  kfr_black_female            100 non-null    float64
 15  kfr_black_male              100 non-null    float64
 16  kfr_black_pooled            100 non-null    float64
 17  kfr_hisp_pooled             100 non-null    float64
 18  kfr_nativemom_aian_pooled   100 non-null    float64
 19  kfr_nativemom_asian_pooled  100 non-null    float64
 20  kfr_nativemom_black_pooled  100 non-null    float64
 21  kfr_nativemom_hisp_pooled   100 non-null    float64
 22  kfr_nativemom_white_pooled  100 non-null    float64
 23  kfr_pooled                  100 non-null    float64
 24  kfr_white_female            100 non-null    float64
 25  kfr_white_male              100 non-null    float64
 26  kfr_white_pooled            100 non-null    float64
 27  kid_college_black_female    99 non-null     float64
 28  kid_college_black_male      100 non-null    float64
 29  kid_college_white_female    100 non-null    float64
 30  kid_college_white_male      100 non-null    float64
 31  kid_hours_black_female      100 non-null    float64
 32  kid_hours_black_male        100 non-null    float64
 33  kid_hours_white_female      100 non-null    float64
 34  kid_hours_white_male        100 non-null    float64
 35  kid_jail_black_female       80 non-null     float64
 36  kid_jail_black_male         100 non-null    float64
 37  kid_jail_white_female       100 non-null    float64
 38  kid_jail_white_male         100 non-null    float64
 39  kid_married_black_pooled    100 non-null    float64
 40  kid_married_white_pooled    100 non-null    float64
 41  kid_no_hs_black_female      99 non-null     float64
 42  kid_no_hs_black_male        100 non-null    float64
 43  kid_no_hs_white_female      100 non-null    float64
 44  kid_no_hs_white_male        100 non-null    float64
 45  kid_pos_hours_black_female  97 non-null     float64
 46  kid_pos_hours_black_male    96 non-null     float64
 47  kid_pos_hours_white_female  100 non-null    float64
 48  kid_pos_hours_white_male    100 non-null    float64
 49  kid_wage_rank_black_female  100 non-null    float64
 50  kid_wage_rank_black_male    100 non-null    float64
 51  kid_wage_rank_white_female  100 non-null    float64
 52  kid_wage_rank_white_male    100 non-null    float64
 53  kir_black_female            100 non-null    float64
 54  kir_black_male              100 non-null    float64
 55  kir_black_pooled            100 non-null    float64
 56  kir_white_female            100 non-null    float64
 57  kir_white_male              100 non-null    float64
 58  kir_white_pooled            100 non-null    float64
 59  kir_1par_black_male         100 non-null    float64
 60  kir_1par_white_male         100 non-null    float64
 61  kir_2par_black_male         100 non-null    float64
 62  kir_2par_white_male         100 non-null    float64
 63  kir_par_nohome_black_male   100 non-null    float64
 64  kir_par_nohome_white_male   100 non-null    float64
 65  spouse_rank_black_female    100 non-null    float64
 66  spouse_rank_black_male      100 non-null    float64
 67  spouse_rank_white_female    100 non-null    float64
 68  spouse_rank_white_male      100 non-null    float64
dtypes: float64(62), int64(7)
memory usage: 54.0 KB